<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%X] %c{1} - %msg%n}"/>
    </Console>
    <File name="file" fileName="logs/hotel-service.log">
      <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%X] %c{1} - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root name="com.nilesh.sample" level="DEBUG" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="file"/>
    </Root>
  </Loggers>
</Configuration>
